<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @magazine.name %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= @magazine.thumb %>
</p>

<p>
  <strong>Description:</strong>
  <%= @magazine.description %>
</p>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
